{% extends 'layout/layout.html.twig' %}

{% block maincontent %}
    <div class="container-fluid">
        <div class="col-8">
            {% form_theme ideaForm 'bootstrap_4_layout.html.twig' %}
            {{ form(ideaForm) }}
        </div>
    </div>

{% endblock %}

